body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
img{
    width: 180px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5%;
    margin-bottom: -3%;
}


.quadrato{
background-color: rgba(0, 0, 0, 0.568);
margin-left: 25%;
margin-right: 25%;
border-radius: 10px;
}
 
.title{
    text-align: center;
    color: rgb(26, 243, 26);
    font-size: 30px; 
}

.input{
    background-color: rgb(26, 243, 26);
    padding: 2%;
    display: flex;
    justify-content: center;
}

.buttons{
    margin: 0.25%;
}

.content{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

.monopattino{
    margin-top: 20px;
}
 
#orange{
    background-color: rgb(214, 143, 12);
    height: 30px;
    border-radius: 10px;
    width: 48%;
}

#green{
    background-color: rgb(35, 212, 35);
    height: 30px;
    border-radius: 10px;
    width: 70%;
}

#red{
    background-color: rgb(190, 39, 39);
    height: 30px;
    border-radius: 10px;
    width: 45%;
}

p{
    margin: 3px;
    color: white;
font-family: fantasy;}

span{
    color: white;
    font-family: serif;
    font-size: larger;
}